/* color: #1100ff; (Azul) */
/* color: #ff0000; (Rojo) */
/* color: #51ff00; (Planta) */
* {
	padding: 0;
	margin: 0;
}
.body {
	background-image: url(https://images2.alphacoders.com/116/thumb-1920-1160159.png);
	background-color: #bb1629;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.header {
	font-family: monospace;
	text-align: center;
	height: 50px;
	background-color: #1d1c1c;
	position: sticky;
	top: 0;
}

.nav__header {
	display: flex;
	flex-direction: column;
	background-color: rgb(170, 22, 37);
	outline: 3px solid black;
	position: fixed;
	top: 50px;
	width: 100%;
	height: 100%;
	left: 100%;
	transition: left 0.7s;
	text-align: center;
}
.nav__header_visible {
	display: flex;
	flex-direction: column;
	background-color: rgb(170, 22, 37);
	outline: 3px solid black;
	position: fixed;
	width: 30%;
	height: 100%;
	left: 73%;
	transition: left 0.7s;
}

.lista_header {
	position: absolute;
	list-style: none;
	top: 70px;
	right: 50px;
	left: 50px;
}

.item-lista__header {
	padding: 40px 0px;
}
.item-link {
	text-decoration: underline 2px #000;
	color: white;
	font-size: 2.1em;
}
.titulo {
	padding-top: 5px;
	color: #eee;
	font-weight: bold;
	text-decoration: underline;
}
.nav__toggle {
	font-size: 1.8rem;
	position: absolute;
	right: 14px;
	top: 8px;
	color: white;
	pointer-events: all;
	background: none;
	border: none;
}

.main {
	width: 80%;
	margin: auto;
	background-color: #bb1629;
}

.busqueda {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
}
.name__label {
	color: white;
	font-size: 1.8rem;
	margin: 10px 0;
}

.name__input {
	font-size: 1rem;
	margin: 5px;
	padding: 8px;
	width: 20%;
}

.container_button {
	display: flex;
	flex-direction: row;
	text-align: center;
}
/* El btn cambia debido que comparte clase con el input,separar sus clases en modo responsive */
.boton_action {
	width: 180px;
	margin: 12px 4px;
	background-color: #c03a4a;
	border: 2px solid black;
	color: white;
}

/* template .container__cartas   */
.container__cartas {
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	justify-items: center;
	align-items: center;
	background-color: #bb1629;
}

.carta {
	background-color: #fff;
	width: 250px;
	height: 350px;
	text-align: center;
	border-radius: 18px;
	margin: 15px;
}
.titulo__carta {
	color: #000;
	text-transform: capitalize;
	font-style: italic;
	font-weight: bold;
}
.carta__img {
	width: 180px;
	height: 180px;
	margin: 15px 0;
	border: 2px solid red;
	border-radius: 50%;
	object-fit: scale-down;
}

.span_carta {
	color: #555050;
	font-weight: bold;
	font-size: 1.2rem;
	padding-left: 5px;
}

.datos__carta {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* background-color: darkolivegreen; */
}
.datos__carta-ataque {
	display: flex;
	flex-direction: column;
	font-weight: bold;
}

.num_poke {
	text-align: right;
	margin-right: 27px;
	margin-top: 10px;
	margin-bottom: -15px;
	font-size: 1rem;
	font-weight: bold;
}
.tipo_stat {
	font-weight: bold;
	font-style: italic;
}
.numero_ataque {
	color: green;
	font-weight: bold;
}

.datos__carta-especial {
	display: flex;
	flex-direction: column;
}
.numero_especial {
	color: red;
	font-weight: bold;
}

.datos__carta-defensa {
	display: flex;
	flex-direction: column;
}

.numero_defensa {
	color: blue;
	font-weight: bold;
}

.tipos_pokemon {
	padding: 0 2px;
}

.segundo_tipo:first-child::after {
	content: ",";
	/* padding-right: 5px; */
}
@media screen and (max-width: 1040px) {
	.nav__header {
		display: flex;
		flex-direction: column;
		background-color: rgb(170, 22, 37);
		outline: 3px solid black;
		position: fixed;
		top: 50px;
		width: 100%;
		height: 100%;
		left: 100%;
		transition: left 0.7s;
		text-align: center;
	}
	.nav__header_visible {
		display: flex;
		flex-direction: column;
		background-color: rgb(170, 22, 37);
		outline: 3px solid black;
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		transition: left 0.7s;
	}
}

@media screen and (max-width: 600px) {
	.body {
		background-image: url();
		background-color: #bb1629;
	}
	.header {
		background-color: #1d1c1c;
	}
	.titulo {
		padding: 8px;
		font-size: 1.6rem;
	}
	.nav__toggle {
		font-size: 1.6rem;
		position: absolute;
		right: 0.625rem;
		color: white;
	}

	.item-link {
		text-decoration: underline 2px #000;
		color: white;
		font-size: 1.55rem;
	}
	.name__label {
		color: white;
		font-size: 1.5rem;
		margin: 5px;
	}

	.name__input {
		font-size: 1rem;
		margin: 5px;
		width: 90%;
		padding: 5px;
	}

	.name__label {
		color: white;
		font-size: 1.8rem;
		margin: 10px 0;
	}
	.container_button {
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: center;
		margin: 0px;
	}

	.boton_action {
		width: 94%;
		margin: 5px auto;
		background-color: #c03a4a;
		border: 2px solid #360707d7;
	}
	.main {
		width: 100%;
		background-color: #bb1629;
	}
	.container__cartas {
		width: 100%;
	}
}
